certifi==2025.1.31
charset-normalizer==3.4.1
ctranslate2 @ file:///home/atu/venv/Cossie/CTranslate2/python
filelock==3.17.0
fsspec==2025.2.0
huggingface-hub==0.29.1
idna==3.10
Jinja2==3.1.5
MarkupSafe==3.0.2
more-itertools==10.6.0
numpy==1.26.4
openai-whisper==20240930
packaging==24.2
pillow==11.0.0
protobuf==5.29.3
PyAudio==0.2.14
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
sentencepiece==0.2.0
SpeechRecognition==3.14.1
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tqdm==4.67.1
transformers==4.49.0
typing_extensions==4.12.2
urllib3==2.3.0
boto3==1.34.21
pygame==2.5.2
